/* 変数 */
:root{
  --header-font-size: 15px;
}


/* header */
#header-nav-sp{
  display: none;
}

#header-nav{
  display: flex;
  align-items: center;
  height: 90px;
}
#header-nav .logo-box{
  margin-left: 110px;
  margin-right: 300px;
}
#header-ul{
  display: flex;
}
#header-li{
  margin: 0 25px;
}
#header-a{
  font-size: var(--header-font-size);
  letter-spacing: 0.1;
  font-weight: 500;
}
#header-a:hover{
  color: #3f0ca6;
}

.team-info{
  width: 140px;
  height: 90px;
  background: linear-gradient(to bottom, #209cff 0%, #68e0cf 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 auto;
}
.team-info a{
  width: 100%;
  height: 100%;
}
.team-info img{
  margin: 9PX auto 0;
}
#team-all{
  color: white;
  font-size: 14px;
  font-weight: 500;
}
/* header-end */



#main-mv{
  background-color: #f2f2f2;
  width: 100%;
  height: 360px;
  position: relative;
}
#main-mv p{
  font-family: "Verdana";
  font-size: 100px;
  letter-spacing: 0.6em;
  font-weight: bold;
  font-style: italic;
  color: #dbdbdb;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  line-height: 100px;

}
#main-mv h1{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-size: 48px;
  color: #3f0ca6;
  letter-spacing: 0.1em;
  font-weight: 500;
}

/* charter-section */

#charter{
  text-align: center;
  padding: 50px 0;
}
.section-title{
  font-size: 38px;
  color: #3f0ca6;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#charter ul{
  text-align: left;
  width: 1000px;
  margin: 30px auto 50px;
  padding-left: 150px;
}
#charter ul li{
  list-style-type:disc;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 36px;
}
#claim{
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #3f0ca6;
  margin-bottom: 45px;
}
#claim span{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 36px;
  color: black;
}

#practice-images{
  display: flex;
  width: 100%;
  height: 230px;
}
.children{
  width: calc(100% / 3);
  max-width: none;
}
.children img{
  object-fit: cover;
  width: 100%;
}

/* concept-section */

#concept{
  padding: 100px 0;
  width: 1185px;
  margin: 0 auto;
}
#en-title{
  font-family: "Verdana";
  font-size: 70px;
  color: #3f0ca6;
  letter-spacing: 0.4em;
  font-weight: bold;
  font-style: italic;
  opacity: .5;
  margin-bottom: -45px;
  line-height: 100px;
}

#concept-image{
  max-width: none;
  width: 700px;
  height: 350px;
  margin: 0 auto;
}
#concept-image img{
  width: 100%;
  object-fit: cover;
}

#gray-box{
  width: 1000px;
  margin: 0 auto;
  background-color: #f9f7f7;
  padding: 150px 180px 60px;
  margin-top: -150px;
}
#gray-box .section-title{
  margin: 50px 0 30px;
  text-align: center;
}

.explain{
  font-size: 16px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding-left: 30px;
}

/* strong-point-section */

#strong-point{
  padding: 100px 0;
  text-align: center;
}
#strong-point .section-title span{
  font-size: 18px;
  letter-spacing: 0.05em;
  color: black;
  margin-top: 0px;
  display: block;
  margin-bottom: 30px;
}

#strong-point-flex-wrapper{
  width: 1000px;
  margin: 0 auto;
}
.strong-point-flex{
  display: flex;
  position: relative;
  height: 300px;
  margin-bottom: 80px;
}
.foot-text{
  position: absolute;
  bottom: -35px;
  left: -35px;
  color: #ACB6E5;
  background: linear-gradient(to left, #209cff 0%, #68e0cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-style: italic;
  font-family: "Verdana";
  font-size: 50px;
  opacity: .5;
  letter-spacing: 0.35em;
  width: max-content;

}
.strong-images,.strong-reason{
  width: 50%;
  position: relative;
}
.strong-reason{
  padding-left: 60px;
  text-align: left;
}
.strong-reason h3{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.075em;
  line-height: 36px;
  margin-bottom: 30px;
}
.strong-reason p{
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.05em;
}

/* about-us^section */
#about-us{
  padding-bottom: 50px;
  text-align: center;
}
#about-us .section-title{
  margin-bottom: 113px;
}
#about-us p{
  font-size: 18px;
  letter-spacing: 0.05em;
}
#gradation-block{
  background: linear-gradient(135deg, #209cff 20%, #68e0cf 50%);
  padding: 50px 0;
}
#gradation-flex{
  display: flex;
  align-items: center;
  width: 1290px;
  margin: 0 0 0 auto;
}
#gradation-text{
  width: 40.35vw;
  padding: 4vw;
  background-color: #ffffff;
  text-align: left;
  height: fit-content;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 15px -1px #000;
}
#gradation-text p{
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 30px;
  font-weight: 500;
}
#gradation-image{
  margin-top: -120px;
  margin-left: -30px;
  position: relative;
  z-index: 0;
  width: 53.5vw;
  height: 460px;
}
#gradation-image img{
  width: 100%;
  object-fit: cover;
}

/* past-result-seciton */
#past-result{
  margin-bottom: 95px;
}

#results-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#results{
  background-color: #f9f7f7;
  width: 1000px;
  margin: 0 auto;
}
#results h4{
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px
}
.result-flex{
  display: flex;
  flex-direction: column;
  width: 440px;
  margin: 0 30px 50px;
}
.result-flex-top{
  padding: 30px 0;
  width: 100%;
  border: 1px solid #000;
  background-color: #edf8ff;
}
.result-flex-top p{
  width: fit-content;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 24px;
}
.result-flex-bottom{
  padding: 25px 0;
  width: 100%;
  background-color: white;
  border: 1px solid black;
}
.result-flex-bottom p{
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
}

/* footer-navigation-section */

#footer-navigation{
  display: flex;
  width: 100%;
  height: 165px;
}
.box{
  width: 100%;
  height:100%;
  background: url(../img/footer-nav1.png) no-repeat center;
  background-size: cover;
}
.box:nth-of-type(2){
  width: 100%;
  height:100%;
  background: url(../img/footer-nav2.png) no-repeat center;
  background-size: cover;
}
.box:nth-of-type(3){
  width: 100%;
  height:100%;
  background: url(../img/footer-nav3.png) no-repeat center;
  background-size: cover;
}
.box:nth-of-type(4){
  width: 100%;
  height:100%;
  background: url(../img/footer-nav4.png) no-repeat center;
  background-size: cover;
}
.bg-text{
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-text p{
  color: white;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .05em;
  font-weight: 500;
}


/* footer */
footer{
  width: 100%;
  color: white;
  font-size: 15px;
}
#footer-images{
  display: flex;
}
.footer-img-box{
  width: 25%;
}
.footer-img-box img{
  width: 100%;
}
#footer-contents{
  background: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
  padding: 20px 0;
}
#footer-nav{
  width: 1185px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
#page-top{
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -60px;
  width: max-content;
  height: max-content;
  background-color: transparent;
  transform: rotate(90deg);
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
}
#page-top span{
  display: block;
  width: 5px;
  height: 70px;
  background-color: white;
  transform: rotate(90deg);
}

#footer-info{
  display: inline-block;
  margin-bottom: 30px;
}
.address{
  margin-top: 20px;
  letter-spacing: 0.1em;
}
.footer-list{
  width: 50%;
}
.footer-list:nth-of-type(2){
  display: flex;
}
.footer-list:nth-of-type(2) .footer-ul{
  margin-left: 30px;
}
.footer-ul .footer-li{
  font-size: 15px;
  line-height: 40px;
}
.footer-li a{
  color: white;
}
.end{
  width: 1185px;
  margin: 60px auto 0;
}
/* footer-end */


/* responsible */

@media(max-width: 1440px){
  :root{
    --header-font-size: 1.071vw;
  }
  #header-nav .logo-box{
    margin-left: 7.857vw;
    margin-right: 20.429vw;
  }
  #header-li{
    margin: 0 1.786vw;
  }
  #team-all{
    font-size: 1vw;
  }

  #main-mv{
    height: clamp(300px, 25.714vw, 360px);
  }
  #main-mv p{
    font-size: clamp(48px, 7.143vw, 100px);
  }
  #main-mv h1{
    font-size: clamp(24px,3.429vw, 48px);
  }
  .section-title{
    font-size: clamp(20px, 2.714vw, 38px);
  }
  #charter ul li{
    font-size: clamp(14px, 1.143vw, 16px);
  }
  #charter ul{
    width: 71%;
    padding-left: 10.714vw;
  }
  #claim{
    font-size: clamp(16px, 1.714vw, 24px);
  }
  #claim span{
    font-size: clamp(12px, 1.143vw, 16px);
  }
  #concept{
    width: 85%;
  }
  #concept-image{
    width: 50vw;
  }
  #gray-box{
    width: 71%;
    padding: 10.714vw 12.857vw 4.286vw;
    margin-top: -200px;
  }
  #strong-point-flex-wrapper{
    width: 71%;
  }
  #en-title{
    font-size: clamp(34px, 5vw, 70px);
  }
  .foot-text{
    font-size: clamp(30px, 3.571vw, 50px);
  }
  .strong-point-flex{
    block-size: fit-content;
  }
  .strong-reason h3{
    font-size: clamp(18px, 1.429vw, 20px);
    margin-bottom: 2.143vw;
    line-height: 2.571vw;
  }
  .strong-reason p{
    font-size: clamp(14px, 1.143vw, 16px);
    line-height: clamp(24px, 2.143vw, 30px);
  }
  .strong-images{
    height: fit-content;
  }
  .strong-images img{
    width: 100%;
  }
  #gradation-flex{
    width: 92vw;
  }
  #gradation-text p{
    font-size: clamp(12px,1.286vw,18px);
    line-height: 2.143vw;
  }
  #results{
    width: 80%;
  }
  .result-flex{
    width: clamp(250px, 31.429vw, 440px);
    margin-left: 2.143vw;
    margin-right: 2.143vw;
  }
  .result-flex-top p{
    font-size: clamp(14px, 1.429vw, 20px);
  }
  #results-wrapper .result-flex:nth-of-type(1) .result-flex-top p{
    padding: 0 20px;
  }
  #footer-nav,.end{
    width: 86%;
  }
  #footer-navigation{
    overflow: scroll;
  }
}
@media(max-width: 1000px){
  #strong-point-flex-wrapper{
    width: 80%;
  }
  #header-nav .logo-box{
    margin-left: 2.857vw;
    margin-right: 10.429vw;
  }
  #header-li{
    margin: 0 5px;
  }

}
@media(max-width: 767px){
  #header-nav{
    display: none;
  }
  #header-nav-sp{
    display: flex;
    align-items: center;
    height: 80px;
    position: relative;
    }
  #header-nav-sp .logo-box{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
  }
    #ham-box{
      width: 110px;
      height: 80px;
      background: linear-gradient(to bottom, #209cff 0%, #68e0cf 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin: 0 0 0 auto;
      cursor: pointer;
    }
    #line_1{
      display: inline-block;
      width: 50px;
      height: 5px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 25%;
      transition: .5s;
    }
    #line_2{
      display: inline-block;
      width: 50px;
      height: 5px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0%;
      bottom: 0;
      transition: .5s;
    }
    #line_3{
      display: inline-block;
      width: 50px;
      height: 5px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 25%;
      transition: .5s;
    }
    #line_1.line__1{
      transform: rotate(225deg);
      top: 0;
      bottom: 0;
    }
    #line_2.line__2{
      opacity: 0;
    }
    #line_3.line__3{
      top: 0;
      bottom: 0;
      transform: rotate(-225deg);
    }
  #ham-content{
    position: fixed;
    transform: translateX(100%);
    transition: .5s;
    width: 100%;
    z-index: 999;
    top: 80px;
    left: 0;
    background: linear-gradient(to bottom, #209cff 0%, #68e0cf 100%);
    height: calc(100vh - 80px);
  }
  #ham-content.slide{
    transform: translateX(0);
  }
  #ham-content li{
    width: 90%;
    margin: 20px auto;
  }
  #ham-content li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  #team-button{
    height: 70px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 90%;
    margin: 70px auto;
    justify-content: center;
    border: 1px solid white;
  }
  #team-button img{
    margin-right: 30px;
  }

  #practice-images{
    height: auto;
  }
  #charter ul{
    padding: 0;
  }
  #charter ul li{
    text-align: center;
    line-height: 18px;
    margin-bottom: 20px
  }
  #concept{
    padding: 0 0 50px;
    width: 100%;
  }
  #concept-image{
    width: 480px;
    height: 240px;
  }
  #gray-box{
    width: 580px;
    margin-top: -85px;
  }
  .strong-point-flex{
    flex-direction: column;
  }
  .strong-images, .strong-reason{
    width: 480px;
    margin: 0 auto;
  }
  .strong-images{
    margin-bottom: 40px;
  }
  .strong-reason{
    padding: 0;
  }
  #strong-point-flex-wrapper{
    width: 100%;
  }
  #gradation-flex{
    width: 480px;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  #about-us .section-title{
    margin-bottom: 20px
  }
  #gradation-image{
    width: 100%;
    margin: 0;
    height: auto;
  }
  #gradation-text{
    width: 100%;
  }
  #gradation-text p{
    font-size: 16px;
    line-height: 30px;
  }
  #results-wrapper{
    justify-content: center;
  }
  .result-flex{
    width: 440px;
  }
  .footer-list:nth-of-type(2){
    display: none;
  }
}
@media(max-width: 640px){
  #concept-image{
    width: 75%;
  }
  #gray-box{
    width: 90%;
  }
  .strong-images, .strong-reason{
    width: 75%;
  }
  #gradation-flex{
    width: 75%;
  }
  .result-flex{
    width: clamp(250px, 31.429vw, 440px);
    margin-left: 2.143vw;
    margin-right: 2.143vw;
  }

}
