/* 変数 */
:root{
  --header-font-size: 15px;
}


/* header */
#header-nav-sp{
  display: none;
}

#header-nav{
  display: flex;
  align-items: center;
  height: 90px;
}
#header-nav .logo-box{
  margin-left: 110px;
  margin-right: 300px;
}
#header-ul{
  display: flex;
}
#header-li{
  margin: 0 25px;
}
#header-a{
  font-size: var(--header-font-size);
  letter-spacing: 0.1;
  font-weight: 500;
}
#header-a:hover{
  color: #3f0ca6;
}

.team-info{
  width: 140px;
  height: 90px;
  background: linear-gradient(to bottom, #209cff 0%, #68e0cf 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 auto;
}
.team-info a{
  width: 100%;
  height: 100%;
}
.team-info img{
  margin: 9PX auto 0;
}
#team-all{
  color: white;
  font-size: 14px;
  font-weight: 500;
}
/* header-end */

#main-mv{
  background-color: #f2f2f2;
  width: 100%;
  height: 360px;
  position: relative;
  margin-bottom: 70px;
}
#main-mv p{
  font-family: "Verdana";
  font-size: 100px;
  letter-spacing: 0.35em;
  font-weight: bold;
  font-style: italic;
  color: #dbdbdb;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  line-height: 100px;

}
#main-mv h1{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-size: 48px;
  color: #3f0ca6;
  letter-spacing: 0.1em;
  font-weight: 500;
}
/* message-section */
#message{
  position: relative;
}

.message-title{
  width: 1000px;
  margin: 0 auto 50px ;
  position: relative;
}
#bg-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 864px;
  padding-bottom: 30%;
  background-color: #f2f2f2;
  z-index: -1;
}
.top-line{
  display: block;
  width: 140px;
  height: 5px;
  background-color: #3f0ca6;
  position: absolute;
  top: 0;
  left: 0;
}
.title{
  font-size: 48px;
  color: #3f0ca6;
  letter-spacing: 0.1em;
  font-weight: 500;
  padding-top: 80px;
}
.title::before{
  content: 'TOP MESSAGE';
  font-size: 14px;
  display: block;
}
#flex-top{
  width: 1000px;
  margin: 0 auto 140px;
  display: flex;
}
#flex-left-article{
  width: 50%;
  padding-left: 35px;
  padding-right: 90px;
  text-align: right;
}
#flex-left-article p{
  font-size: 18px;
  width: max-content;
  margin-top: 50px;
  padding-right: 90px;
}
#flex-left-article p span{
  margin-left: 25px;
  font-size: 26px;
}
#flex-right-text{
  width: 50%;
}
#flex-right-text h3{
  font-size: 28px;
  letter-spacing: 0.01em;
  font-weight: 500;
  margin-bottom: 30px;
}
#flex-right-text p{
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 30px;
}
/* outline-section */
#outline>.title::before{
  content: 'LEAGUE OUTLINE';
}
#outline{
  background-color: #f9f7f7;
}
#outline-all{
  padding: 50px 70px;
  width: 1000px;
  margin: 0 auto 20px;
}
.members{
  width: 1000px;
  margin: 0 auto 20px ;
}
tr{
  text-align: left;
  display: block;
  border-bottom: 1px solid #dbdbdb;
  padding: 15px 0;
}
th{
  width: 225px;
  font-size: 18px;
}
td{
  font-size: 18px;
  line-height: 40px;
}
table{
  background-color: white;
  box-sizing: border-box;
}
#outline-all tr{
  display: flex;
  align-items: center;
}
.members th{
  text-align: center;
  background-color: #209cff;
  color: white;
  font-size: 18px;
}
.members td{
  padding-left: 30px;
  padding-right: 40px;
}
.members td:nth-of-type(1){
  text-align: center;
}

#past{
  width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}
#past img{
  width: 100%;
  margin: 0 auto;
}

#past .title::before{
  content: 'PAST WINNING TEAMS';
}
#access{
  background-color: #f9f7f7;
  padding: 60px 0;
  text-align: center;
}
#access .title{
  text-align: left;
}

#access .title::before{
  content: 'ACCESS';
}
.access-message{
  font-size: 18px;
  letter-spacing: .05em;
  line-height: 30px;
  margin-top: 30px;
  text-align: left;
}
iframe{
  width: 1000px;
  margin: 0 auto;
  height: 470px;
}
#access img{
  width: 1000px;
  margin: 0 auto;
}
.sp-name{
  display: none;
}
.members tr{
  padding: 0;
}
/* footer-navigation-section */

#footer-navigation{
  display: flex;
  width: 100%;
  height: 165px;
}
#flex-flow{
  display: flex;
  width: 100%;
}

.box{
  width: 100%;
  height:100%;
  background: url(../img/footer-nav1.png) no-repeat center;
  background-size: cover;
}
.box:nth-of-type(2){
  width: 100%;
  height:100%;
  background: url(../img/footer-nav2.png) no-repeat center;
  background-size: cover;
}
.box:nth-of-type(3){
  width: 100%;
  height:100%;
  background: url(../img/footer-nav3.png) no-repeat center;
  background-size: cover;
}
.box:nth-of-type(4){
  width: 100%;
  height:100%;
  background: url(../img/footer-nav4.png) no-repeat center;
  background-size: cover;
}
.bg-text{
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-text p{
  color: white;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .05em;
  font-weight: 500;
}
.box,.box:nth-of-type(2),.box:nth-of-type(3),.box:nth-of-type(4){
  width: 25%;
  white-space: nowrap;
  display: block;
}


/* footer */
footer{
  width: 100%;
  color: white;
  font-size: 15px;
}
#footer-images{
  display: flex;
}
.footer-img-box{
  width: 25%;
}
.footer-img-box img{
  width: 100%;
}
#footer-contents{
  background: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
  padding: 20px 0;
}
#footer-nav{
  width: 1185px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
#page-top{
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  position: absolute;
  top: 70px;
  bottom: 0;
  right: -60px;
  width: max-content;
  height: max-content;
  background-color: transparent;
  transform: rotate(90deg);
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
}
#page-top::before{
  content: '';
  display: block;
  width: 5px;
  height: 70px;
  background-color: white;
  transform: rotate(90deg);
  margin-right: 50px;
}

#footer-info{
  display: inline-block;
  margin-bottom: 30px;
}
.address{
  margin-top: 20px;
  letter-spacing: 0.1em;
}
.footer-list{
  width: 50%;
}
.footer-list img{
  width: 160px;
}
.footer-list:nth-of-type(2){
  display: flex;
}
.footer-list:nth-of-type(2) .footer-ul{
  margin-left: 30px;
}
.footer-ul .footer-li{
  font-size: 15px;
  line-height: 40px;
}
.footer-li a{
  color: white;
}
.end{
  width: 1185px;
  margin: 60px auto 0;
}
/* footer-end */


/* responsible */

@media(max-width: 1440px){
  :root{
    --header-font-size: 1.071vw;
  }
  #header-nav .logo-box{
    margin-left: 7.857vw;
    margin-right: 20.429vw;
  }
  #header-li{
    margin: 0 1.786vw;
  }
  #team-all{
    font-size: 1vw;
  }

  #main-mv{
    height: clamp(300px, 25.714vw, 360px);
  }
  #main-mv p{
    font-size: clamp(48px, 7.143vw, 100px);
  }
  #main-mv h1{
    font-size: clamp(24px,3.429vw, 48px);
  }
  .message-title, #flex-top, #outline-all, .members, #past, iframe, #access img{
    width: 71%;
  }
  th{
    width: clamp(127px, 16.071vw, 225px);
  }
  #outline-all{
    padding: 3.571vw 5vw;
  }
  #bg-box{
    width: 61.714vw;
  }
  #flex-left-article{
    padding-left: clamp(0px, 2.500vw, 35px);
  }
  #flex-left-article p{
    font-size: clamp(12px, 1.286vw, 18px);
  }
  #flex-left-article p span{
    font-size: clamp(22px, 1.857vw, 26px);
  }
  .title{
    font-size: clamp(24px,3.429vw, 48px);
  }
  #past .message-title{
    width: 100%;
  }
  .access-message{
        font-size: clamp(12px, 1.286vw, 18px);
  }
  th, td{
    font-size: clamp(12px, 1.286vw, 18px);
  }
  #footer-nav,.end{
    width: 86%;
  }
  #footer-navigation{
    overflow: scroll;
  }

  .footer-ul .footer-li{
    font-size: clamp(10px, 1.071vw, 15px);
    line-height: 2.857vw;
  }
  #footer-info{
    font-size: clamp(12px, 1.071vw, 15px);
  }
  .address{
    font-size: clamp(12px, 1.429vw, 20px);
  }


}
@media(max-width: 1000px){
  #header-nav .logo-box{
    margin-left: 2.857vw;
    margin-right: 10.429vw;
  }
  #header-li{
    margin: 0 5px;
  }

}

@media(max-width: 767px){
  #header-nav{
    display: none;
  }
  #header-nav-sp{
    display: flex;
    align-items: center;
    height: 80px;
    position: relative;
    }
  #header-nav-sp .logo-box{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
  }
    #ham-box{
      width: 110px;
      height: 80px;
      background: linear-gradient(to bottom, #209cff 0%, #68e0cf 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin: 0 0 0 auto;
      cursor: pointer;
    }
    #line_1{
      display: inline-block;
      width: 50px;
      height: 5px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 25%;
      transition: .5s;
    }
    #line_2{
      display: inline-block;
      width: 50px;
      height: 5px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0%;
      bottom: 0;
      transition: .5s;
    }
    #line_3{
      display: inline-block;
      width: 50px;
      height: 5px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 25%;
      transition: .5s;
    }
    #line_1.line__1{
      transform: rotate(225deg);
      top: 0;
      bottom: 0;
    }
    #line_2.line__2{
      opacity: 0;
    }
    #line_3.line__3{
      top: 0;
      bottom: 0;
      transform: rotate(-225deg);
    }
  #ham-content{
    position: fixed;
    transform: translateX(100%);
    transition: .5s;
    width: 100%;
    z-index: 999;
    top: 80px;
    left: 0;
    background: linear-gradient(to bottom, #209cff 0%, #68e0cf 100%);
    height: calc(100vh - 80px);
  }
  #ham-content.slide{
    transform: translateX(0);
  }
  #ham-content li{
    width: 90%;
    margin: 20px auto;
  }
  #ham-content li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  #team-button{
    height: 70px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 90%;
    margin: 70px auto;
    justify-content: center;
    border: 1px solid white;
  }
  #team-button img{
    margin-right: 30px;
  }


  .message-title, #flex-top, #outline-all, .members, #past, iframe, #access img{
    width: 75%;
  }
  .sub{
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
    width: 75%;
  }

  #main-mv p{
    font-size: clamp(7.500vw,7.500vw,48px);
  }
  #main-mv h1{
    font-size: clamp(18px,3.750vw,24px);
  }
  #flex-top{
    flex-direction: column;
  }
  #flex-left-article{
    width: 100%;
  }
  #flex-right-text{
    width: 100%;
  }
  #flex-right-text h3{
    text-align: left;
    padding: 0 4.688vw;
    font-size: clamp(18px, 4.375vw, 28px);
  }
  #flex-left-article p{
    display: none;
  }
  #top-image-box img{
    margin: 0 auto 45px;
  }
  #bg-box{
    padding-bottom: 70%;
  }
  .sp-name{
    width: fit-content;
    display: block;
    margin: 150px 0 0 auto;
    font-size: 12px;
  }
  .sp-name span{
    font-size: 22px;
    margin-left: 17px;
  }
  th,td{
    font-size: 10px;
    line-height: 22px
  }
  th{
    width: 25%;
  }
  .access-message{
    line-height: 18px;
  }
  #flex-left-article{
    padding: 0;
  }
  #outline-all{
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
  }
  .footer-list:nth-of-type(2){
    display: none;
  }
  #page-top{
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    position: absolute;
    top: 70px;
    bottom: 0;
    right: -60px;
    width: max-content;
    height: max-content;
    background-color: transparent;
    transform: rotate(90deg);
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
  }
  #page-top::before{
    content: '';
    display: block;
    width: 5px;
    height: 70px;
    background-color: white;
    transform: rotate(90deg);
    margin-right: 50px;
  }
  #footer-navigation{
    width: 100%;
    overflow-x: auto;
  }
  .box,.box:nth-of-type(2),.box:nth-of-type(3),.box:nth-of-type(4){
    width: 380px;
    white-space: nowrap;
    display: block;
    float: left;
  }
  #flex-flow{
    display: flex;
    width: 1440px;
  }


  }
  @media(max-width: 550px){
    #outline-all th,td{
      transform: scale(.9);
      transform-origin: 50% 50%
    }
    .pre-wrap{
      transform: scale(.75);
      width: 100%;
    }
    #outline-all tr{
      padding: 2.344vw 0;
    }
    .access-message{
      font-size: 10px;
    }
    .members th{
      width: 80px;
    }
  }
  @media(max-width: 500px){
    #outline-all th,td{
      transform: scale(.8);
    }
    .members th{
      width: 80px;
    }
    .members td{
      width: calc((100% - 80px)/2);
    }
  }
