#main-mv{
  background-color: #f2f2f2;
  width: 100%;
  height: 360px;
  position: relative;
  margin-bottom: 70px;
}
#main-mv p{
  font-family: "Verdana";
  font-size: 100px;
  letter-spacing: 0.6em;
  font-weight: bold;
  font-style: italic;
  color: #dbdbdb;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  line-height: 100px;

}
#main-mv h1{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-size: 48px;
  color: #3f0ca6;
  letter-spacing: 0.1em;
  font-weight: 500;
}

/* contents-section */

#contents{
  width: 1000px;
  margin: 50px auto 0;
  background-color: #f9f7f7;
  padding: 90px 120px;
}
#date{
  font-size: 16px;
  color: #999999;
  letter-spacing: 0.1em;
}
#info-title{
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.explain{
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
h2{
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 28px;
}

h3{
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

/* -button-section */
#flex-button{
  display: flex;
  justify-content: right;
  width: 1000px;
  margin: 40px auto 0;
}
#flex-button button{
  margin: 0;
  background-color: white;
  box-shadow: none;
  width: 140px;
  height: 40px;
  font-size: 12.58px;
  border: 1px solid black;
  font-weight: 500;
}

#flex-button button:nth-of-type(1){
  text-align: left;
  padding-left: 14px;
}
#flex-button button:nth-of-type(2){
  text-align: center;
}
#flex-button button:nth-of-type(3){
  text-align: right;
  padding-right: 14px;
}
#flex-button button:hover{
  color: white;
  background-color: black;
}


/* responsible */

@media(max-width: 1440px){
  #contents, #flex-button{
    width: 71%;
  }
  #contents{
    padding: 6.429vw 8.571vw;
  }
  #main-mv{
    height: clamp(300px, 25.714vw, 360px);
  }
  #main-mv p{
    font-size: clamp(48px, 7.143vw, 100px);
  }
  #main-mv h1{
    font-size: clamp(24px,3.429vw, 48px);
  }
  #info-title{
    font-size: clamp(16px, 1.857vw, 26px);
  }
  .explain{
    font-size: clamp(10px, 1.143vw, 16px);
  }
  h2{
    font-size: clamp(13px, 1.714vw, 24px);
  }
  h3{
    font-size: clamp(11px, 1.571vw, 22px);
  }
}

@media(max-width: 767px){
  #date{
    font-size: 10px;
  }
  #contents, #flex-button{
    width: 75%;
  }

  #flex-button{
    justify-content: center;
  }
  #flex-button button{
    width: 110px;
    font-size: 10px;
  }
  .explain{
    line-height: 14px;
    margin-bottom: 5px;
  }
}
