/* 変数 */
:root{
  --header-font-size: 15px;
}


/* header */
#header-nav-sp{
  display: none;
}

#header-nav{
  display: flex;
  align-items: center;
  height: 90px;
}
#header-nav .logo-box{
  margin-left: 110px;
  margin-right: 300px;
}
#header-ul{
  display: flex;
}
#header-li{
  margin: 0 25px;
}
#header-a{
  font-size: var(--header-font-size);
  letter-spacing: 0.1;
  font-weight: 500;
}
#header-a:hover{
  color: #3f0ca6;
}

.team-info{
  width: 140px;
  height: 90px;
  background: linear-gradient(to bottom, #209cff 0%, #68e0cf 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 auto;
}
.team-info a{
  width: 100%;
  height: 100%;
}
.team-info img{
  margin: 9PX auto 0;
}
#team-all{
  color: white;
  font-size: 14px;
  font-weight: 500;
}
/* header-end */


/* main */
main{
  position: relative;
}
/* mv */
#mv{
  background: linear-gradient(to right, transparent 40%, #fff 100%), url(../img/mv.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 660px;
  position: relative;
}
#accordion{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(35, 255, 175, 0.6);
  width: 660px;
}
dt li{
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 12px;
  letter-spacing: .05em;
  padding: 0 60px;
}
#results li{
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 12px;
  letter-spacing: .05em;
  padding: 0 0 0 150px;
}
#result-more{
  margin-right: 56px;
  cursor: pointer;
}
dt .more{
  margin: 0 0 0 auto;
  width: 110px;
  height: 19px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
dt .more span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
}
#mv-message{
  width: 50%;
  background: linear-gradient(to right, transparent 0%, #00aeef 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-left: 60px;
}
#img-logo{
  width: 470px;
  max-width: none;
  margin: 0 auto;
}
#img-50th{
  width: 250px;
  max-width: none;
  margin: 15px auto;
}
#mv-message p{
  font-size: 27px;
  text-align: center;
}

/* news-section */

#news{
  padding: 50px 0;
}
#news-box{
  width: 1185px;
  margin: 0 auto;
  display: flex;
  background-color: #eeeeee;
  padding: 30px 85px;
}
#news-left{
  width: 25%;
  text-align: center;
}
#news-left h2{
  width: 100%;
  position: relative;
  font-size: 48px;
  color: #3f0ca6;
  letter-spacing: 0.35em;
  text-align: center;
  height: fit-content;
}
#v-line{
  position: absolute;
  top: 20px;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 3px;
  height: 40px;
  background-color: #3f0ca6;
}
.more{
  display: inline-block;
  width: 180px;
  height: 30px;
  background-color: white;
  border: 1.5px solid black;
  line-height: 26px;
  position: relative;
  text-align: center;

}
#news-left span{
  font-size: 20px;
  letter-spacing: 0.3em;
  color: white;
  -webkit-text-stroke: 1px red;
  display: inline-block;
  margin-bottom: 30px;
}
#news-right{
  width: 75%;
  padding-left: 88px;
  display: flex;
  flex-direction: column;
}
#news-right li{
  margin: 15px 0;
}
#news-right a{
  font-size: 18px;
  letter-spacing: 0.05em;
}
.more span{
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: black;
  height: 100%;
  display: block;
  -webkit-text-stroke: none;
  text-align: center;
}
/* others-section */
#about{
  background: url(../img/about-img.png) no-repeat center;
  background-size: cover;
  width: 847px;
  height: fit-content;
  padding: 75px 0;
  margin: 0 auto 170px;
  text-align: center;
}
.title{
  font-size: 36px;
  position: relative;
  color: white;
  text-align: center;
  line-height: 105.74px;
  z-index: 2;
}
.title::after{
  line-height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "MISATO CITY";
  color: #15dfc9;
  font-family: 'Verdana';
  font-weight: bold;
  font-style: italic;
  opacity: .5;
  letter-spacing: 0.4em;
  display: block;
  font-size: 70px;
}
#about p{
  font-size: 18px;
  color: white;
  margin: 50px auto 30px;
  width: 370px;
  letter-spacing: 0.05em;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

#others-flex{
  display: flex;
  flex-direction: column;
}
#flex-img{
  width: 840px;
  position: relative;
}
#flex-img p{
  position: absolute;
  font-size: 70px;
  font-family: 'Verdana';
  font-weight: bold;
  color: #3f0ca6;
  opacity: .5;
  font-style: italic;
  letter-spacing: 0.4em;
  left: 0;
  right: 0;
  margin: auto;
  top: -50px;
  text-align: center;
}
#flex-img img{
  width: 100%;
}
#flex-text{
  background-color: #eeeeee;
  padding: 60px 200px 60px 60px;
  height: fit-content;
  width: 660px;
  margin: -176px 0 100px auto;
  position: relative;
  z-index: 2;
}
#flex-text h4{
  font-size: 36px;
}
#flex-text p{
  font-size: 18px;
  line-height: 30px;
  margin: 30px 0 25px;
  letter-spacing: 0.05em;
}

#half-box{
  display: flex;
  width: 100%;
  height: 300px;
}
#team-box{
  background: url(../img/top-team.png) no-repeat center;
  background-size: cover;
  width: 50%;
  height: 100%;
}
#info-box{
  background: url(../img/top-info.png) no-repeat center;
  background-size: cover;
  width: 50%;
  height: 100%;
}
.black{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.black h5{
  font-size: 36px;
  color: white;
  text-align: center;
  padding-top: 95px;
}
.black p{
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  color: white;
}

/* sponsor-section */
#sponsors{
  padding: 100px 0;
}
#sponsor-content{
  width: 1000px;
  margin: 0 auto;
  background-color: #eeeeee;
  text-align: center;
  padding: 50px 0 60px;
}
#sponsor-content .title{
  color: black;
  letter-spacing: .4em;
}
#sponsor-content .title::after{
  content: 'SPONSORS';
  color: #3f0ca6;
}
#sponsor-content img{
  margin: 65px auto;
}
/* access-section */
#access{
  padding: 100px 0;
  width: 1000px;
  margin: 0 auto;
}
#access .title{
  color: black;
  letter-spacing: .4em;
}

#access .title::after{
  content: 'ACCESS';
  color: #3f0ca6;
}
#access p{
  font-size: 18px;
  line-height: 30px;
  white-space: pre;
  width: fit-content;
  margin: 0 auto;
}
#access iframe{
  width: 100%;
  height: 470px;
}
/* main-end */


/* footer-navigation-section */

#footer-navigation{
  display: flex;
  width: 100%;
  height: 165px;
}
#flex-flow{
  display: flex;
  width: 100%;
}

.box{
  width: 100%;
  height:100%;
  background: url(../img/footer-nav1.png) no-repeat center;
  background-size: cover;
}
.box:nth-of-type(2){
  width: 100%;
  height:100%;
  background: url(../img/footer-nav2.png) no-repeat center;
  background-size: cover;
}
.box:nth-of-type(3){
  width: 100%;
  height:100%;
  background: url(../img/footer-nav3.png) no-repeat center;
  background-size: cover;
}
.box:nth-of-type(4){
  width: 100%;
  height:100%;
  background: url(../img/footer-nav4.png) no-repeat center;
  background-size: cover;
}
.bg-text{
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-text p{
  color: white;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .05em;
  font-weight: 500;
}
.box,.box:nth-of-type(2),.box:nth-of-type(3),.box:nth-of-type(4){
  width: 25%;
  white-space: nowrap;
  display: block;
}


/* footer */
footer{
  width: 100%;
  color: white;
  font-size: 15px;
}
#footer-images{
  display: flex;
}
.footer-img-box{
  width: 25%;
}
.footer-img-box img{
  width: 100%;
}
#footer-contents{
  background: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
  padding: 20px 0;
}
#footer-nav{
  width: 1185px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
#page-top{
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  position: absolute;
  top: 70px;
  bottom: 0;
  right: -60px;
  width: max-content;
  height: max-content;
  background-color: transparent;
  transform: rotate(90deg);
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
}
#page-top::before{
  content: '';
  display: block;
  width: 5px;
  height: 70px;
  background-color: white;
  transform: rotate(90deg);
  margin-right: 50px;
}

#footer-info{
  display: inline-block;
  margin-bottom: 30px;
}
.address{
  margin-top: 20px;
  letter-spacing: 0.1em;
}
.footer-list{
  width: 50%;
}
.footer-list img{
  width: 160px;
}
.footer-list:nth-of-type(2){
  display: flex;
}
.footer-list:nth-of-type(2) .footer-ul{
  margin-left: 30px;
}
.footer-ul .footer-li{
  font-size: 15px;
  line-height: 40px;
}
.footer-li a{
  color: white;
}
.end{
  width: 1185px;
  margin: 60px auto 0;
}
/* footer-end */


/* res */

@media(max-width: 1440px){
  :root{
    --header-font-size: 1.071vw;
  }
  #header-nav .logo-box{
    margin-left: 7.857vw;
    margin-right: 20.429vw;
  }
  #header-li{
    margin: 0 1.786vw;
  }
  #team-all{
    font-size: 1vw;
  }

  #mv{
    height: clamp(500px, 47.143vw, 660px);
  }
  #img-logo{
    width: 33.571vw;
  }
  #img-50th{
    width: 17.857vw;
  }
  #mv-message p{
    font-size: clamp(14.5px,1.929vw,  27px);
  }
  #news-box{
    width: 85%;
  }
  #about{
    width: 60.5%;
  }
  #flex-img{
    width: 60%;
  }
  #flex-img p{
    font-size: clamp(34px, 5vw, 70px);
  }
  #flex-text{
    width: 47%;
    padding: 4.286vw 14.286vw 4.286vw 4.286vw;
  }
  #flex-text h4{
    font-size: clamp(22px, 2.571vw, 36px);
  }
  #flex-text p{
    font-size: clamp(12px,1.286vw,18px);
  }
  #sponsor-content{
    width: 71%;
  }
  #access{
    width: 71%;
  }
  #news-right{
    padding-left: 6.286vw;
  }
  #news-box{
    padding: 30px 6.071vw;
  }
  #news-right a{
    font-size: clamp(12px,1.286vw,18px);
  }
  #news-right li{
    margin: 1.071vw 0;
  }
  #news-left h2{
    font-size: clamp(28px, 3.429vw, 48px);
  }
  .more{
    width: clamp(160px, 12.857vw, 180px);
  }
  #about{
    padding: 5.357vw 0;
  }
  .title::after{
    font-size: clamp(34px, 5vw, 70px);
  }
  #about p{
    margin-top: 3.571vw;
    font-size: clamp(12px,1.286vw,18px);
  }
  .title{
    font-size: clamp(22px, 2.571vw, 36px);
  }
  #sponsor-content img:nth-of-type(1){
    width: 50vw;
  }
  #sponsor-content img:nth-of-type(2){
    width: 18.5vw;
    margin: 4.643vw auto;
  }
  #access p{
    font-size: clamp(12px,1.286vw,18px);
    line-height: 2.143vw;
  }
  #footer-nav,.end{
    width: 86%;
  }
  #footer-navigation{
    overflow: scroll;
  }

  .footer-ul .footer-li{
    font-size: clamp(10px, 1.071vw, 15px);
    line-height: 2.857vw;
  }
  #footer-info{
    font-size: clamp(12px, 1.071vw, 15px);
  }
  .address{
    font-size: clamp(12px, 1.429vw, 20px);
  }


}
@media(max-width: 1000px){
  #strong-point-flex-wrapper{
    width: 80%;
  }
  #header-nav .logo-box{
    margin-left: 2.857vw;
    margin-right: 10.429vw;
  }
  #header-li{
    margin: 0 5px;
  }

}

@media(max-width: 767px){
  #header-nav{
    display: none;
  }
  #header-nav-sp{
    display: flex;
    align-items: center;
    height: 80px;
    position: relative;
    }
  #header-nav-sp .logo-box{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
  }
    #ham-box{
      width: 110px;
      height: 80px;
      background: linear-gradient(to bottom, #209cff 0%, #68e0cf 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin: 0 0 0 auto;
      cursor: pointer;
    }
    #line_1{
      display: inline-block;
      width: 50px;
      height: 5px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 25%;
      transition: .5s;
    }
    #line_2{
      display: inline-block;
      width: 50px;
      height: 5px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0%;
      bottom: 0;
      transition: .5s;
    }
    #line_3{
      display: inline-block;
      width: 50px;
      height: 5px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 25%;
      transition: .5s;
    }
    #line_1.line__1{
      transform: rotate(225deg);
      top: 0;
      bottom: 0;
    }
    #line_2.line__2{
      opacity: 0;
    }
    #line_3.line__3{
      top: 0;
      bottom: 0;
      transform: rotate(-225deg);
    }
  #ham-content{
    position: fixed;
    transform: translateX(100%);
    transition: .5s;
    width: 100%;
    z-index: 999;
    top: 80px;
    left: 0;
    background: linear-gradient(to bottom, #209cff 0%, #68e0cf 100%);
    height: calc(100vh - 80px);
  }
  #ham-content.slide{
    transform: translateX(0);
  }
  #ham-content li{
    width: 90%;
    margin: 20px auto;
  }
  #ham-content li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  #team-button{
    height: 70px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 90%;
    margin: 70px auto;
    justify-content: center;
    border: 1px solid white;
  }
  #team-button img{
    margin-right: 30px;
  }

  #practice-images{
    height: auto;
  }

  #news-box{
    width: 90%;
    flex-direction: column;
  }
  #news-left h2{
    text-align: left;
    border: none;
  }
  #news-left{
    width: 100%;
    text-align: left;;
  }
  #news-right{
    padding: 0;
    width: 100%;
  }
  #news-left .more, #v-line {
    display: none;
  }
  #v-line{
    width: 0;
  }
  #about{
    padding: 40px 0;
    width: 75%;
  }
  #about .title{
    line-height: 70px;
  }
  #about p{
    margin: 0 auto 20px ;
  }
  #flex-img{
    width: 75%;
    margin: 0 auto;
  }
  #flex-text{
    width: 75%;
    margin: 0 auto;
    padding: 25px 95px;
    text-align: center;
  }
  #others-flex{
    padding-bottom: 50px;
  }
  #half-box{
    flex-direction: column;
    height: fit-content;
  }
  #team-box, #info-box{
    width: 100%;
    height: 270px;
  }
  #sponsor-content{
    width: 75%;
  }
  #sponsor-content img:nth-of-type(1){
    width: 85%;
  }
  #sponsor-content img:nth-of-type(2){
    width: 32.5%;
  }
  #access{
    width: 90%;
  }
  .footer-list:nth-of-type(2){
    display: none;
  }
  #page-top{
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    position: absolute;
    top: 70px;
    bottom: 0;
    right: -60px;
    width: max-content;
    height: max-content;
    background-color: transparent;
    transform: rotate(90deg);
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
  }
  #page-top::before{
    content: '';
    display: block;
    width: 5px;
    height: 70px;
    background-color: white;
    transform: rotate(90deg);
    margin-right: 50px;
  }
  #footer-navigation{
    width: 100%;
    overflow-x: auto;
  }
  .box,.box:nth-of-type(2),.box:nth-of-type(3),.box:nth-of-type(4){
    width: 380px;
    white-space: nowrap;
    display: block;
    float: left;
  }
  #flex-flow{
    display: flex;
    width: 1440px;
  }



}
